#Bezpieczeństwo
SECRET_KEY=secret-example-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

#Baza danych Postgres
DB_NAME=promt_db
DB_USER=promt_user
DB_PASSWORD=mt123
DB_HOST=db
DB_PORT=5432

#Adres do uruchamiania projektu lokalnie
LOCAL_DB_HOST = localhost
LOCAL_DB_PORT = 5433

#Konto admina
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin